div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: black;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
